In [1]:
import pandas as pd

In [2]:
def generate_metadata(dataframe):
    """
    Generates a DataFrame containing metadata for the columns of the provided DataFrame.

    :param dataframe: DataFrame for which metadata will be generated.
    :return: DataFrame containing metadata.
    """

    # Collection of basic metadata
    metadata = pd.DataFrame({
        'variable': dataframe.columns,
        'type': dataframe.dtypes,
        'null_count': dataframe.isnull().sum(),
        'null_percent': round((dataframe.isnull().sum() / len(dataframe))* 100,2),
        'cardinality': dataframe.nunique(),
    })
#     metadata = metadata.sort_values(by='type')
    metadata = metadata.reset_index(drop=True)

    return metadata

In [4]:
path = "./train.csv"
df = pd.read_csv(path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
metadata = generate_metadata(df)
print(metadata)

       variable     type  null_count  null_percent  cardinality
0   PassengerId    int64           0          0.00          891
1      Survived    int64           0          0.00            2
2        Pclass    int64           0          0.00            3
3          Name   object           0          0.00          891
4           Sex   object           0          0.00            2
5           Age  float64         177         19.87           88
6         SibSp    int64           0          0.00            7
7         Parch    int64           0          0.00            7
8        Ticket   object           0          0.00          681
9          Fare  float64           0          0.00          248
10        Cabin   object         687         77.10          147
11     Embarked   object           2          0.22            3

## what to do:
- drop id
- drop survived
-